        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Enter a genre, artist, or mood to get paired.</h3>
                    </div>
                </div>
                <!--Search Bar-->
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-sm-12">
                            <input id="tags" class="search-query form-control" placeholder="" />
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                            <span id="searchicon"class=" glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--Categories-->
                <br>
                <br>
                <div class="row fix">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary musicbuttons">Alternative</button>
                        <button type="button" class="btn btn-primary musicbuttons">Rock</button>
                        <button type="button" class="btn btn-primary musicbuttons">Pop</button>
                        <button type="button" class="btn btn-primary musicbuttons">Rap</button>
                    </div>
                </div>
                <div class="row fix">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary musicbuttons">Indie</button>
                        <button type="button" class="btn btn-primary musicbuttons">Country</button>
                        <button type="button" class="btn btn-primary musicbuttons">R&amp;B</button>
                        <button type="button" class="btn btn-primary musicbuttons">Classical</button>
                    </div>
                </div>
                <div class="row fix">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary musicbuttons">Hip-Hop</button>
                        <button type="button" class="btn btn-primary musicbuttons">Jazz</button>
                        <button type="button" class="btn btn-primary musicbuttons">Blues</button>
                        <button type="button" class="btn btn-primary musicbuttons">Folk</button>
                    </div>
                </div>
                <div class="row fix">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary musicbuttons">Metal</button>
                        <button type="button" class="btn btn-primary musicbuttons">Electronic</button>
                        <button type="button" class="btn btn-primary musicbuttons">Reggae</button>
                        <button type="button" class="btn btn-primary musicbuttons">Random</button>
                    </div>
                </div>
            </div>
        </section>