            <section>
            <div class="container">
                <div class="row">
                    <div id="video" class="col-xs-6">
                        <div class="text-center">
                            <h2>Bruno Mars - Grenade</h2>
                        </div>
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/SR6iYWJxHqs?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="chat" class="col-xs-6">
                        <div id="chatbox">
                            <ul class="messages" style="display:none">
                                <li id="strangerjam">Waiting for a response...</li>
                                <li id="myjam"></li>
                            </ul>
                            <ul id="messageList" class="messages">
                                <li id="placeholder">Waiting for a stranger to join...</li>
                            </ul>
                            <input type="text" id="chatInput"  placeholder="Type a message...">
                        </div>
                    </div>
                </div>
            </div>
        </section>