        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle grouped for mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="images/logo.png" alt="vivi"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#">Radio</a>
                        </li>
                        <li class="page-scroll">
                            <a href="/music">Music</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#">Discover</a>
                        </li>
                        <li class="page-scroll">
                            <a class="btn btn-primary" id="signin" href="#">Sign In</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div>
                    <div class="footer-col col-sm-12">
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </nav>